[Desktop Entry]
Name=SAGA GIS
GenericName=A System for Automated Geoscientific Analyses 
Comment=Geodata Processing and Analysis
Type=Application
Exec=saga_gui
Icon=saga
Categories=Science;Education;Geography;